version: "3.7"

services:
  web-server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: starter-typescript-hapi-docker-ava-tests
    volumes:
      - ./src:/home/node/app/src
      - ./nodemon.json:/home/node/app/nodemon.json
    expose:
      - "8080"
    ports:
      - "8080:8080"
      - "9229:9229"
    command: npm run test:watch
